<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Patients</title>
</head>
<body>
  <ul>
    <% @patients.each do |patient| %>
      <li>Name: <%=patient.name%> Number of Appointments: <%= patient.appointments.count %></li>
    <% end %>
  </ul>
</body>
</html>