<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Doctors</title>
</head>
<body>

  <h1>Doctors</h1>

  <% @doctors.each do |doctor| %>
    <%= doctor.name %>
  <% end %>
  
</body>
</html>