<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Doctor</title>
</head>
<body>
  <h1>Doctor: <%= @doctor.name %></h1>
  <% @doctor.appointments.each do |appointment| %>
    <% utc = appointment.appointment_datetime %>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
    Appointment - <%= utc.strftime("%B %d, %Y at %T")%>
    <br>
  <% end %>
</body>
</html>