<div>
  <h1><%= @appointment.date %></h1>
  Doctor: <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor) %>
  Patient: <%= link_to @appointment.patient_name, patient_path(@appointment.patient) %>
</div>
